<div class="container">
  <div class="row">
    <h2>会員情報編集</h2>
  </div>
    <div class="row">
    <%= form_with url: update_customer_path,model: @customer,method: :update do |f| %>
      <%= render "public/shared/error_messages", resource: @customer %>
      <div class="form-field">
        <%= f.label :"名前",class: "mr-5" %>
        <%= f.text_field :last_name,autofocus: true,placeholder: "令和" %>
        <%= f.text_field :first_name,placeholder: "道子" %>
      </div>
      <div class="form-field">
        <%= f.label :"フリガナ" %>
        <%= f.text_field :last_name_kana,placeholder: "レイワ" %>
        <%= f.text_field :first_name_kana,placeholder: "ミチコ" %>
      </div>
      <div class="form-field">
        <%= f.label :"郵便番号" %>
        <%= f.text_field :postal_code,placeholder: "0000000" %>
      </div>
      <div class="form-field">
        <%= f.label :"住所" %>
        <%= f.text_field :"address",:size=> "60",placeholder: "東京都渋谷区代々木神園町0-0" %>
      </div>
      <div class="form-field">
        <%= f.label :"電話番号" %>
        <%= f.text_field :telephone_number,placeholder: "0000000000" %>
      </div>
      <div class="form-field">
        <%= f.label :"メールアドレス" %>
        <%= f.email_field :email,placeholder: "sample@example.com" %>
      </div>
      <div class="actions">
        <%= f.submit "編集内容を保存",class: "btn btn-success" %>
      </div>
      <div class="action">
        <%= link_to "退会する",subscribe_customer_path,class: "btn btn-alarm" %>
      </div>
    <% end %>
  </div>
</div>
