<div class="container">
  <div class="row">
    <h1><span>商品一覧</span></h1>
    <div class="text-right">
      <%= link_to new_admin_item_path do %>
        <i class="fas fa-solid fa-plus fa-3x"></i>
      <% end %>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th>商品ID</th>
          <th>商品名</th>
          <th>税抜価格</th>
          <th>ジャンル</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @items.each do |item| %>
        <tr>
          <td><%= item.id %></td>
          <td><%= link_to item.name, edit_admin_item_path(item) %> </td>
          <td><%= item.price %></td>
          <td><%= item.genre.name %></td>
          <td><%= item.is_active_i18n %></td>
        </tr>
        <% end %>
        <%= paginate @items %>
      </tbody>
    </table>
  </div>
</div>