<div class="container">
  <div class="row m-3">
    <h2>管理者ログイン</h2>
  </div>
  <div class="row-fuild">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :"メールアドレス",class: "col-3" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="form-group">
      <%= f.label :"パスワード",class: "col-3" %>
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "ログイン",class: "btn btn-primary offset-md-2" %>
    </div>
  <% end %>
  </div>
  <div class="row">
    <%= render "admin/shared/links" %>
  </div>
</div>