<div class="container">
  <div class="row m-3">
    <h2>ログイン</h2>
  </div>
  <div class="row">
    <h3 class="offset-md-1">会員の方はこちらからログイン</h3>
  </div>
  <div class="row-fluid">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-field">
        <%= f.label :"メールアドレス",class: "offset-md-1 col-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="form-field my-2">
        <%= f.label :"パスワード",class: "offset-md-1 col-2" %>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      <div class="actions">
        <%= f.submit "Log in",class: "btn btn-primary offset-md-2" %>
      </div>
    <% end %>
    <div class="row my-3 py-3">
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>